<!-- ==============================================
		HEADER
=============================================== -->

<header class="header">
  	<div class="row" id="header_text-box">
  		<div class="col-5">
			<img id="logo" src="images/logo2.png">
		  </div>
  		<div class="col-7" id="add-movie">
			<input type="text" class="form-control" id="add-movie-input" placeholder="Movie name">
			<img id="add-movie-button" src="images/addBtn.jpg">
			
		</div>
	</div>
</header>
<main >
<!-- ==============================================
		MOVIES WATCHLIST
=============================================== -->
<div class="row" id="search-movie">
	<div class="col-9" id="search-movie">
		<input type="text" class="form-control" id="search-movie-input" placeholder="Movie name from list">
		<img id="search-movie-button" src="images/searchBtn.jpg">
	</div>
</div>
<div class="row" id="movies-container">
<!--movie box -->
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
        <div>
			<img class="img-responsive" id="old-movies" src="http://imgs.abduzeedo.com/files/articles/tarantino/planet_terror_poster_01.jpg">
		</div>
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
        <div>
			<img class="img-responsive" id="old-movies" src="https://i.pinimg.com/originals/8f/ee/b3/8feeb324e9af72689458ab84f38c8a54.jpg">
		</div>
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
        <div>
			<img class="img-responsive" id="old-movies" src="https://d1466nnw0ex81e.cloudfront.net/n_iv/600/796139.jpg">
		</div>
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
        <div>
			<img class="img-responsive" id="old-movies" src="https://slackershack.files.wordpress.com/2013/01/django2.jpg">
		</div>
		
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
        <div>
			<img class="img-responsive" id="old-movies" src="https://images-na.ssl-images-amazon.com/images/M/MV5BYTdmZmY3Y2QtNjU5NC00OGUxLTg3MWQtMmE2ODM5Mzg3MzcyL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SY1000_CR0,0,706,1000_AL_.jpg">
		</div>
	</div>
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie-box">
        <div>
			<img class="img-responsive" id="old-movies" src="https://i.pinimg.com/736x/f9/ed/07/f9ed0797e42b61d40ef87e6e025e1eb2--quentin-tarantino-pulp-fiction.jpg">
		</div>
	</div>
	
</div>
</div>
</div>

<!-- ==============================================
		MODAL OR BOOT BOX?
=============================================== -->



<!-- ==============================================
		WATCHED MOVIES
=============================================== -->
<div class="container">
	  <div class="old-movies-box">
		  	<img id="old-movies" src="https://imgc.allpostersimages.com/img/posters/reservoir-dogs_u-L-F4Q2UY0.jpg?src=gp&w=300&h=375" 
			  style="height:100px">
			  <img id="old-movies" src="https://d1466nnw0ex81e.cloudfront.net/n_iv/600/796139.jpg" 
			  style="height:100px">
			  <img id="old-movies" src="http://imgs.abduzeedo.com/files/articles/tarantino/planet_terror_poster_01.jpg" 
			  style="height:100px">
			  <img id="old-movies" src="https://slackershack.files.wordpress.com/2013/01/django2.jpg" 
			  style="height:100px">
	  </div>
</div>

</main>

<!-- ==============================================
		FOOTER
=============================================== -->
<footer class="footer">
	<div class="footer_text-box"> 
		<p id="footer_text">© Asley Calixte, Raj Narula, Mariela Pascual   2018</p>
	</div>

</footer>