#watched-container{
    background-color: rgb(48, 48, 48);
    max-height: 220px;
    overflow: auto;
    border-top: 6px solid rgb(26, 26, 26);;
} 

.watched-box{
    width: 100px;
    height:150px;
    opacity: 0.7;
   display: inline-block;
    
}
#watched-movies.img-responsive{
    border:0;
    float: left;  
}

.img-responsive{
    max-width: 100%; 
    height: auto;
    border: 0;
}
#unwatch-btn{
    width:100px;
    border: 0;
    border-radius: 0;
    background-color: rgb(154, 154, 154);
    color:white;
}
#watched-form{
    border-radius: 0;
    border: none;
}